---
http_interactions:
- request:
    method: get
    uri: http://ci.jruby.org/job/jruby-dist-master/lastBuild/api/xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      X-Jenkins:
      - '1.534'
      X-Jenkins-Session:
      - 6e125f57
    body:
      encoding: UTF-8
      string: |-
        <freeStyleBuild><action><cause><shortDescription>Started by timer</shortDescription></cause></action><action><buildsByBranchName><originmaster><buildNumber>1926</buildNumber><revision><SHA1>fd0306633e4c1708d0ceba4710b4e06dda158fa3</SHA1><branch><SHA1>fd0306633e4c1708d0ceba4710b4e06dda158fa3</SHA1><name>origin/master</name></branch></revision></originmaster></buildsByBranchName><lastBuiltRevision><SHA1>fd0306633e4c1708d0ceba4710b4e06dda158fa3</SHA1><branch><SHA1>fd0306633e4c1708d0ceba4710b4e06dda158fa3</SHA1><name>origin/master</name></branch></lastBuiltRevision><remoteUrl>git://jruby.org/jruby.git</remoteUrl><scmName></scmName></action><action></action><action></action><action></action><building>false</building><duration>335838</duration><estimatedDuration>582108</estimatedDuration><fullDisplayName>jruby-dist-master #1926</fullDisplayName><id>2014-02-10_21-52-31</id><keepLog>false</keepLog><number>1926</number><result>SUCCESS</result><timestamp>1392097951792</timestamp><url>http://ci.jruby.org/job/jruby-dist-master/1926/</url><builtOn></builtOn><changeSet><item><affectedPath>core/src/main/java/org/jruby/truffle/runtime/core/array/RubyArray.java</affectedPath><affectedPath>core/src/main/java/org/jruby/truffle/nodes/core/ArrayNodes.java</affectedPath><commitId>fd0306633e4c1708d0ceba4710b4e06dda158fa3</commitId><timestamp>1392081669000</timestamp><author><absoluteUrl>http://ci.jruby.org/user/lucas.allan</absoluteUrl><fullName>lucas.allan</fullName></author><comment>[Truffle] - Initial implementation of Array#hash.

        This initial implementation uses the hashCode method of the elements to
        calculate the hash number. This might not be ideal because some objects
        maybe have the same hashCode number. But for now, it's good enough.
        </comment><date>2014-02-10 17:21:09 -0800</date><id>fd0306633e4c1708d0ceba4710b4e06dda158fa3</id><msg>[Truffle] - Initial implementation of Array#hash.</msg><path><editType>edit</editType><file>core/src/main/java/org/jruby/truffle/nodes/core/ArrayNodes.java</file></path><path><editType>edit</editType><file>core/src/main/java/org/jruby/truffle/runtime/core/array/RubyArray.java</file></path></item><kind>git</kind></changeSet><culprit><absoluteUrl>http://ci.jruby.org/user/Charles%20Oliver%20Nutter</absoluteUrl><fullName>Charles Oliver Nutter</fullName></culprit><culprit><absoluteUrl>http://ci.jruby.org/user/Subramanya%20Sastry</absoluteUrl><fullName>Subramanya Sastry</fullName></culprit><culprit><absoluteUrl>http://ci.jruby.org/user/Thomas%20E.%20Enebo</absoluteUrl><fullName>Thomas E. Enebo</fullName></culprit><culprit><absoluteUrl>http://ci.jruby.org/user/chris</absoluteUrl><fullName>chris</fullName></culprit><culprit><absol[...]
